name: Docker

on: 
  workflow_run:
    workflows: ["Go CI/CD Completo"] 
    types:
      - completed

jobs:

  docker:
    runs-on: ubuntu:latest

    steps:
      - uses: actions/checkout@v3

      - name: login Docker build
        uses: docker/setup-buildx-action@v2
    
      - name: Docker Login

        uses: docker/login-action@v2
        with:  
         
            username: ${{ github.actor }}
  
            password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker images

        uses: docker/build-push-action@v3.1.1
        with:          
                    
          context: .
          
          file: ./Dockerfile
          
          push: true          
          
          tags: fefeluis91-crypto/go_ci:aula002:${{github.ref_name}}    

     